<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoTR App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="jumbotron container top-level-div">
        <h2 class="intro">Welcome to my LoTR App!</h2>
        <p class="intro">Hello! And welcome to my Lord of the Rings web application! Here, you will find three buttons which can be interacted with by clicking them.</p>
        

        <div class="testing">
            <div class="instructions instructions-div">
                <h4 class="intructions">Instructions:</h4>
                <p class="instructions">The first two buttons will display random character and quote information to the screen.
                    If you click the button again, the currently displayed info will be cleared and the new info will be displayed instead.
                    The third button will clear the text on the screen.
                </p>
                <p class="instructions">
                    (Refreshing the page will act as if you clicked the most recently clicked button again. Do this if the buttons become unclickable for some reason)
                </p>

                <p class="instructions">The character info is from the books, while the quotes are from the LoTR movies.</p>

                <p class="instructions">This information is available via a public API: https://the-one-api.dev/ Have fun and enjoy!</p>
            </div>
                        
            <div class="image-container">
                {% if show_image %}
                <div id="image">
                    <img src="{{  url_for('static', filename=image) }}" width="250" height="250" class="portrait">
                </div>
                {% endif %}
            </div>

            <div class="quote-div">
                <p class="quote">{{ text }}</p>
            </div>

        </div>
    </div>

    <div class="button-div">
        <form method="post" action="{{ url_for('index') }}">
            <button id="button1" type="submit" name="button" value="get_char">Random Character Button!</button>
        </form>

        <form method="post" action="{{ url_for('index') }}">
            <button id="button2" type="submit" name="button" value="get_quote">Random Quote Button!</button>
        </form>
    
        <form method="post" action="{{ url_for('index') }}">
            <button id="button3" type="submit" name="button" value="clear">Clear the Screen!</button>
        </form>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<footer class="footer">&copy; Alexander Swanson 2024</footer>
</body>
</html>
